// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$apricot: #ffc7ad;
$dutch-white: #ecdcb0;
$tea-green: #c1d7ae;
$dark-sea-green: #8cc084;
$middle-gray: #968e85;
