// Define variables for your color scheme
$gray: #0E0000;
$light-gray: #F4F4F4;
$light-green: #aaf1a5;
$green: #0bab00b8;
$success-green: green;
$light-pink: #ef80ca;
$pink: #d967b3;
$light-blue: #83e2f4;
$blue: #8cecff;
$orange: #E67E22;
$red: red;
