// Define variables for your color scheme

// For example:
$pink: #d967b3;
$blue: #67b2c1;
// $yellow: #FFC65A;
$orange: #E67E22;
$green: #0bab00b8;
$gray: #0E0000;
$light-gray: #F4F4F4;

$light-pink: #ef80ca;
$light-blue: #83e2f4;
$light-green: #aaf1a5;

$red: red;
$success-green: green;

// $apricot: #ffc7ad;
// $dutch-white: #ecdcb0;
// $tea-green: #c1d7ae;
// $dark-sea-green: #8cc084;
// $middle-gray: #968e85;
