<h1>Students#index</h1>
<p>Find me in app/views/students/index.html.erb</p>

<h1>Listing students for batch n°<%= @batch.id %></h1>

<table>
  <thead>
    <tr>
      <th>First name</th>
      <th>Last Name</th>
    </tr>
  </thead>
  <tbody>
    <% @students.each do |student| %>
      <tr>
        <td><%= student.user.first_name %></td>
        <td><%= student.user.last_name %></td>
      </tr>
    <% end %>
  </tbody>
</table>
