<div class="col-md-3 mx-3">
  <div class="teacher-card text-center">
    <%= link_to user_profile_path(user) do %>
      <%= cl_image_tag user.profile_picture.key, class: "teacher-avatar rounded-circle" %>
    <% end %>
    <h3 class="teacher-name mt-3 mb-0"><%= link_to "#{user.first_name} #{user.last_name}", "/profile/#{user.id}" %></h3>
  </div>
</div>
