<div class="container">
  <h1>All programs</h1>
  <div class="cards">
    <% @programs.each do |program| %>
      <%= render 'card', program: program %>
    <% end %>
  </div>
  <%= link_to 'Create a new program', new_program_path %>
</div>
