<div class="container my-5">
  <% if current_user.teacher? %> <%#teacher page %>
    <div class="bike-card">
      <%= render 'pages/teacher-dashboard' %>
    </div>
  <% else %> <%# student page %>
    <div class="bike-card">
      <%= render 'pages/student-dashboard' %>
    </div>
  <% end %>
</div>
