<div class="container">
  <div class="row justify-content-center">
    <div class="col-6">
      <h1>Adding a batch</h1>
      <div class="card bg-light" style="padding: 24px;">
        <%= render 'form', batch: @batch %>
      </div>
    </div>
  </div>
</div>
