.bb_icon {
  display: inline;
  margin: 0 -0.125em;
  vertical-align: text-bottom;
}

.bb_icon_small {
  display: inline;
  margin: 0 0.065em;
  vertical-align: text-bottom;
}

.invert {
  filter: invert(1);
}
